@use 'variables' as *;
@use 'breakpoints' as *;
@use 'core' as *;

.contenido-clientes {
	display: grid;
	grid-template-columns: repeat(4, minmax(0, 1fr));
	gap: 20px;

	.cliente-individual {
		border: 2px solid #e9ebec;
		border-radius: 8px;
		padding: 14px 20px;
		display: flex;
		gap: 20px;
		align-items: center;

		&:hover {
			box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.1);
		}
	}

	.imagen {
		width: 80px;
		height: 50px;
		//border: 2px solid #e9ebec;
		display: flex;
		align-items: center;
		justify-content: center;
		//box-shadow: 0 2px 8px rgba($color: #000000, $alpha: 0.1);
		padding: 2px;
		border-radius: 8px;
		overflow: hidden;

		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
		}
	}

	a {
		color: #495057;

		&:hover {
			text-decoration: none;
		}
	}
}

.cliente-int {
	input {
		height: 40px;
		border: 1px solid #ced4da;
		border-radius: 2px;
		padding: 0 10px;
	}
}
