@use 'variables' as *;
@use 'breakpoints' as *;
@use 'core' as *;

.secciones-container {
	display: flex;
	margin-top: 35px;
	gap: 30px;

	.sidebar-secciones {
		min-width: 240px;

		.categorias {
			max-height: 100vh;
			overflow-y: auto;
			padding-left: 5px;
		}

		.check-label {
			span {
				font-family: $font-family;
				font-size: 14px;
				font-weight: 400;
				padding: 4px 0px 4px 6px;
			}
		}

		.opciones {
			margin-top: 40px;
		}
	}

	.contenido-secciones {
		display: grid;
		grid-template-columns: repeat(4, minmax(0, 1fr));
		gap: 40px 28px;
		align-self: start;

		.seccion-individual {
			.imagen {
				background-color: #f3f3f3;
				height: 200px;
				border: 2px solid #eaebee;
				border-radius: 4px;
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					object-fit: contain;
				}

				a {
					display: flex;
					height: 100%;
				}
			}

			.meta {
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 12px 0;
				gap: 8px;

				p {
					font-size: 14px;
					line-height: 1.4;
					margin-bottom: 0;
					font-weight: 300;
				}

				.botones {
					display: flex;
					gap: 8px;

					button {
						color: #71717a;
						border: 1px solid #e4e5e9;
						border-radius: 4px;
						padding: 8px 10px 8px 6px;
						display: flex;
						gap: 2px;
						align-items: center;
						align-self: flex-start;
						font-size: 12px;
						margin: 0;

						&.like {
							padding: 8px 10px 8px 10px;
						}

						svg {
							height: 16px;
						}

						&:hover {
							color: white;
						}
					}
				}
			}
		}
	}
}

.seccion-int {
	background-color: #f4f4f5;
	margin: -30px;
	margin-top: -10px;
	margin-right: -30px;
	padding: 30px;
	border-top: 1px solid #e4e5e9;
	display: flex;
	height: 100%;
	gap: 28px;

	.panel-blanco {
		background-color: white;
		background: #ffffff;
		border: 1px solid #e9ebec;
		box-shadow: 0px 1px 2px rgba(56, 65, 74, 0.14902);
		border-radius: 4px;

		> .titulo {
			font-size: 18px;
			border-bottom: 1px solid #e9ebec;
			padding: 12px 24px;
		}

		.cotenido-panel {
			padding: 20px 25px 25px;
			display: flex;
			flex-direction: column;
			gap: 20px;

			&.flex-row {
				flex-direction: row;
			}
		}

		.contenedor-imagen {
			width: 100%;
			//max-height: 500px;
			background-color: #f3f3f3;
			display: flex;
			border: 1px solid #eaebee;
			border-radius: 4px;
			justify-content: center;

			img {
				object-fit: contain;
			}
		}

		.tres-columnas {
			display: grid;
			grid-template-columns: repeat(3, minmax(0, 1fr));
			gap: 20px;

			.columna {
				display: flex;
				flex-direction: column;
				gap: 12px;
			}

			.contenedor-imagen {
				max-height: 150px;
			}

			.separador {
				margin: 16px 0;
			}
		}

		.borrar {
			color: #71717a;
			border: 1px solid #e4e5e9;
			border-radius: 4px;
			display: flex;
			align-items: center;
			padding: 8px 16px 8px 8px;
			align-self: flex-start;
			//margin: 12px 0;
			gap: 4px;

			svg {
				height: 18px;
			}

			&:hover {
				background-color: $danger;
				color: white;
			}
		}

		.separador {
			height: 1px;
			background-color: #e9ebec;
			//margin: 28px 0;
		}
	}

	> .columna {
		gap: 28px;
		display: flex;
		flex-direction: column;
	}

	.columna-1 {
		flex: 4;
		max-width: 60%;
	}

	.columna-2 {
		flex: 2;
	}

	.img-preview {
		position: relative;
		width: 100%;
		max-height: 300px;
		background-color: #f3f3f3;
		display: flex;
		border: 1px solid #eaebee;
		border-radius: 4px;
		justify-content: center;

		img {
			object-fit: contain;
		}

		.cerrar {
			border-radius: 50%;
			position: absolute;
			width: 25px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			background: #ffffff;
			border: 1px solid #e0e4e8;
			top: -12px;
			right: -20px;
			color: #6b6b6b;

			svg {
				height: 15px;
			}

			&:hover {
				background-color: $danger;
				color: white;
			}
		}
	}
}

.image-input {
	display: flex;
	flex-direction: column;
	gap: 16px;

	button.subir-archivo {
		display: flex;
		justify-items: center;
		align-items: center;
		gap: 6px;
		align-self: flex-start;
		padding: 8px 16px;
		background-color: #838383;
		color: #fff;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
}

.meta-dato {
	display: flex;
	gap: 20px;
	justify-content: space-between;
	margin-bottom: 10px;

	.doble-label {
		display: flex;
		flex-direction: column;
		gap: 8px;

		h4 {
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 0;
		}

		p {
			font-size: 13px;
			margin-bottom: 0;
			color: #858687;
		}
	}

	input[type='number'] {
		max-width: 60px;
		padding: 14px 8px 14px 14px;
		align-self: center;
		border: 1px solid #dfdfdf;
		border-radius: 2px;
		font-size: 16px;
	}
}

.contenedor-taxonomia {
	display: flex;
	flex-direction: column;
	gap: 20px;

	.lista-taxonomia {
		display: flex;
		flex-direction: column;
		max-height: 200px;
		overflow-y: auto;

		span {
			font-family: $font-family;
			font-weight: 400;
		}
	}

	.agregar {
		color: $primary;
		text-decoration: underline;
		align-self: flex-start;

		&:hover {
			color: $primary;
			background-color: white;
		}
	}

	.form {
		display: flex;
		flex-direction: column;
		gap: 12px;

		input {
			height: 40px;
			//align-self: flex-start;
			border: 1px solid $border;
			border-radius: 4px;
			padding: 8px 16px;
		}

		button {
			background-color: $primary;
			margin-right: 0;
			display: flex;
			align-self: flex-start;
			align-items: center;
			gap: 6px;
			padding: 8px 18px 8px 12px;

			&:hover {
				background-color: $primary-dark;
			}
		}
	}
}

.error {
	color: $danger;
	margin-bottom: 0;
}

.auto-complete {
	.MuiChip-filled {
		background-color: $primary;
		color: white;

		span {
			font-family: $font-family;
			font-weight: 500;
		}

		svg {
			color: white;
		}
	}

	.MuiAutocomplete-endAdornment {
		button {
			svg {
				color: $primary !important;
			}
		}
	}

	input {
		font-family: $font-family;
	}
}

.guardar {
	.spinner {
		animation: spin 1.4s ease-in-out infinite;
	}

	&:disabled {
		background-color: #e6d9fb;
		color: $primary;
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.panel-taxonomia {
	display: flex;
	flex-direction: column;
	//gap: 20px;
	width: 100%;
	background-color: white;
	background: #ffffff;
	border: 1px solid #e9ebec;
	box-shadow: 0px 1px 2px rgba(56, 65, 74, 0.14902);
	border-radius: 4px;

	.separador {
		height: 1px;
		background-color: #e9ebec;
	}

	.margin-md {
		margin: 20px 20px 20px 20px;
	}

	.contenido-taxonomia {
		padding: 20px;
	}

	.inputs {
		display: flex;
		gap: 12px;

		input {
			border: 1px solid #ced4da;
			border-radius: 2px;
			padding: 0 10px;
			min-width: 250px;
		}
	}
}

.tabla-taxonomia {
	font-family: $font-family;

	.created_at,
	.updated_at {
		text-align: right;
	}

	span,
	td {
		font-family: $font-family;
		font-weight: 400;
	}

	p,
	div {
		font-family: $font-family;
		margin-bottom: 0;
		font-weight: 500;
	}
}

.MuiMenu-list {
	li {
		font-family: $font-family;
		margin-bottom: 0;
		font-weight: 500;
	}
}
